@font-face {
  font-family: "Akrobat";
  src: url("../assets/fonts/Akrobat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat600";
  src: url("../assets/fonts/Akrobat-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat700";
  src: url("../assets/fonts/Akrobat-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
